<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796318567664-2poonvhf184qk34efahmda24p62lflgo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796318567664-2poonvhf184qk34efahmda24p62lflgo</string>
	<key>API_KEY</key>
	<string>AIzaSyB4RZKdOmaFXuQd_XHBqU-dhE4N9GQOQFs</string>
	<key>GCM_SENDER_ID</key>
	<string>796318567664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aidBrazil</string>
	<key>PROJECT_ID</key>
	<string>ldc-aid-brazil</string>
	<key>STORAGE_BUCKET</key>
	<string>ldc-aid-brazil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796318567664:ios:79780b2fabd779c6084635</string>
</dict>
</plist>